.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 2.1rem;
    border: 0.1rem solid #00C6CA;
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #c0f3f7;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #2d79ca;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.caption-container {
    display: flex;
    margin-bottom: 0.5rem;
    padding: 2rem;
    width: 100%;
    background-color: #e2f8fa;
}
.caption-text {
    padding: 1rem;
    width: 100%;
    font-size: 1.7rem;
}

.correct {
    background-color: #5de69f;
}

.incorrect {
    background-color: #fab164 ;
}

/* HUD */

#hud {
    display: flex;
    justify-content: space-between;
    /* put things side by side horizontally and justify in center */
}

.hud-prefix {
    text-align: center;
    font-size: 1.7rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 17rem;
    height: 4rem;
    border: 0.3rem solid #00C6CA;
    margin-top: 1.5rem;
}

#progressBarFull {
    height: 3.4rem;
    background-color: #00C6CA;
    width: 0%;
}

.button {
    display: block;
    width: 5rem;
    height: 3.5rem;
    background-color: #00C6CA;
    border-style: hidden;
    color: white;
    float: right;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0.2rem 0.6rem 0 #c0f3f7;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

#toggle {
    display: none;
}